html, body {
  height: 100%;
  padding: 0;
  overflow-x: hidden;
  // background: url('/img/large-background.jpg') no-repeat fixed center;
}
#map-content {
  height: 400px
  }
#map {
  height: 100%;
}
.range-slider {
  position: relative;
  height: 80px;
  margin-top: 55px
}
.extra-controls {
  position: relative;
  border-top: 3px solid #000;
  padding: 10px 0 0;
}
.datepicker {
  margin-top: 40px;
}

#floating-panel {
  margin-top: 0px
}
.highcharts-legend {
  opacity: 0.7;
}
.navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}
.center-page {
  min-width: 1600px;
  margin: 0 auto;
}
.daterange-text {
  font-size: 20px;
  padding: 0 5px;
  font-family: 'Indie Flower', cursive;
}
.map-chart-selector {
  border-bottom: 6px solid #3358B1;
}

.map-cosen , .chart-cosen {
  border: 0px solid #3570BD;
  padding: 5px 40px;
  border-radius: 25px 25px 0px 0px;
  background-color: #3570BD;
  zoom: 1.5;
}

.map-cosen:hover , .chart-cosen:hover {
  background-color: #3358B1;
}
.active {
  background-color: #3358B1;
}
.row.hidden#chart-container > .col-md-12 > #container {
  min-width: 0px; height: 400px; margin: 0 auto; max-width:1000px;
}

.content-hidden {
  visibility: hidden;
}











.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}