block content
 script(src='/js/highcarts/highcharts.js')
 script(src='/js/highcarts/exporting.js')
 script(src='/js/highcarts/main.js')

 .row
  .col-md-12
   #container.chart-container.content-hidden(style='min-width: 0px; height: 400px; margin: 0 auto; max-width:1000px;')

block scripts


