doctype html
html
  head
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1", name="viewport")
    meta(name="description" content="Moneparti dashboard")
    meta(charset='utf-8')
    title Heatmaps
    style.
      html, body {
      height: 100%;
      padding: 0;
      }
      #map-content {
      height: 70%;
      padding: 0;
      }
      #map {
      height: 70%;
      }
      
      .range-slider {
      position: relative;
      height: 80px;
      margin-top:55px
      }
      .extra-controls {
      position: relative;
      border-top: 3px solid #000;
      padding: 10px 0 0;
      }

      
    
    link(rel="stylesheet" href="/css/bootstrap.min.css" media="all" charset="utf-8")
    link(rel="stylesheet" href="/css/modern-business.css" media="all" charset="utf-8")
    link(rel="stylesheet" href="/stylesheets/style.css" media="all" charset="utf-8")
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='stylesheets/dashboard/font-awesome.min.css', rel='stylesheet', type='text/css')

  body
    #wrapper
      include ./dashboard/header
      script(src='/js/highcarts/jquery.min.js')
      // Bootstrap Core JavaScript
      script(src='/js/bootstrap.min.js')
      // Custom Theme JavaScript
      script(src='/js/jquery.js')
      // MainJS js/jquery.js
      script(src='/js/main.js')
      #page-wrapper
        block content
  block scripts
