include map
block content
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  
  input#ajaxDate(type='date' name='date' style='margin-top:70px;')
  input#ajaxDate( name='start_hour' style='margin-top:70px;')
  input#ajaxDate(type='text' name='end_hour' style='margin-top:70px;')
  
  #div1
    p There was no action on map
