include dashboard-layout-map-chart
block content
 #map-content
  button.btn.btn-danger#map-menu.hidden Optiuni Mapa
  #floating-panel(style='display:none')
    button.btn.btn-info(id='reinitMarker' onclick='') Hărți termice / Markere
    button.btn.btn-info(id='changeGradient' onclick='changeGradient()') Schimba gradient
    button.btn.btn-info(onclick='changeRadius()') Schimba radius
    button.btn.btn-info(onclick='changeOpacity()') Schimba opacititatea
  input#pac-input.controls(type='text', placeholder='Search Box')
  button.btn.btn-default#SaveFigure Save figure!
  #map
block scripts
    script(src='/js/map.js')
    //script(async='', defer='', src='https://maps.googleapis.com/maps/api/s?key=AIzaSyBmyGvsxDlsHTSFQ8XbfplRO4z3KuxAOGg&libraries=visualization&callback=initMap')
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBmyGvsxDlsHTSFQ8XbfplRO4z3KuxAOGg&libraries=visualization,places,drawing,geometry&callback=initMap')
    script.
      $( "#map-menu" ).click(function() {
        if($("#floating-panel").is(":visible") )
        $( "#floating-panel" ).fadeOut( "slow");
        else
        $( "#floating-panel" ).fadeIn( "slow");
      });
    script.
        $('#SaveFigure').click(function () {
            if (!polygon && !circle && !rectangle)
                alert("You need to draw a shape to save!");
            else {
                var json = {
                    type: null,
                    lat: null,
                    lon: null,
                    rad: null,
                    polygonPoints: []
                };

                if (polygon) {
                    json.type = 'polygon';
                    var vertices = polygon.getPath();
                    for (var i = 0; i < vertices.getLength(); i++) {
                        var xy = vertices.getAt(i);
                        json.polygonPoints.push([xy.lat(), xy.lng()]);
                    }
                }

                if (rectangle) {
                    json.type = 'polygon';
                    json.polygon = [];
                    var vertices = rectangle.getBounds();
                    json.polygonPoints.push([vertices.getSouthWest().lat(), vertices.getNorthEast().lng()]);
                    json.polygonPoints.push([vertices.getNorthEast().lat(), vertices.getNorthEast().lng()]);
                    json.polygonPoints.push([vertices.getNorthEast().lat(), vertices.getSouthWest().lng()]);
                    json.polygonPoints.push([vertices.getSouthWest().lat(), vertices.getSouthWest().lng()]);
                }

                if (circle) {
                    json.type = 'circle';
                    json.lat = circle.getCenter().lat();
                    json.log = circle.getCenter().lng();
                    json.rad = circle.getRadius() / 63781;
                }
                if (circle || rectangle || polygon)
                    $.ajax({
                        async: true,
                        type: "POST",
                        url: "/web-routes/SaveShape",
                        data: json,
                        success: function (result) {
                            alert("The shape was set.");
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            // alert("Status: " + textStatus);
                            // alert("Error: " + errorThrown);
                            alert("Something wrong happened. Please try again.");
                        }
                    });
            }
        })
