extends dashboard-layout
block content
 #map-content
  #floating-panel
    button.btn.btn-info(id='reinitMarker' onclick='') Heatmaps / Markers
    button.btn.btn-info(id='changeGradient' onclick='changeGradient()') Change gradient
    button.btn.btn-info(onclick='changeRadius()') Change radius
    button.btn.btn-info(onclick='changeOpacity()') Change opacity
  #map
block scripts
    script(src='/js/map.js')
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBmyGvsxDlsHTSFQ8XbfplRO4z3KuxAOGg&libraries=visualization&callback=initMap')