extends dashboard-layout
block content
 #map-content(style='height:400px')
  #floating-panel(style='margin-top:80px')
    button(id='reinitMarker' onclick='') Reinit with markers
    button(id='changeGradient' onclick='changeGradient()') Change gradient
    button(onclick='changeRadius()') Change radius
    button(onclick='changeOpacity()') Change opacity
  #map
block scripts
    script.
      function reinit(json) {
      //getPoints
      heatmap.setOptions({ data: []});
      heatmap.setOptions({ data: getPointsNew(json)});
      
            //initMap(pointvalue);
      }
      function reinitMarker(json) {
      heatmap.setOptions({ data: []});
      setMarkers(json);
      }
      // This example requires the Visualization library. Include the libraries=visualization
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=visualization">
      var map, heatmap;
      function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: {lat: 37.775, lng: -122.434},
      mapTypeId: 'satellite'
      });
      heatmap = new google.maps.visualization.HeatmapLayer({
      data: getPoints(1, 24),
      map: map
      });
      }
      function changeGradient() {
      var gradient = [
      'rgba(0, 255, 255, 0)',
      'rgba(0, 255, 255, 1)',
      'rgba(0, 191, 255, 1)',
      'rgba(0, 127, 255, 1)',
      'rgba(0, 63, 255, 1)',
      'rgba(0, 0, 255, 1)',
      'rgba(0, 0, 223, 1)',
      'rgba(0, 0, 191, 1)',
      'rgba(0, 0, 159, 1)',
      'rgba(0, 0, 127, 1)',
      'rgba(63, 0, 91, 1)',
      'rgba(127, 0, 63, 1)',
      'rgba(191, 0, 31, 1)',
      'rgba(255, 0, 0, 1)'
      ]
      heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
      }
      function changeRadius() {
      heatmap.set('radius', heatmap.get('radius') ? null : 20);
      }
      function changeOpacity() {
      heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
      }
      // Heatmap data: 500 Points
      function getPoints(startpointvalue, endpointvalue) {
      	return []
      }
      function getPointsNew(json) {
      var result = [];
      json.forEach(function(pointheatmap){
      result.push(new google.maps.LatLng(pointheatmap.lat, pointheatmap.lng));
      })
      return result;
      }

      function setMarkers(json) {
      var markers=[];
      json.forEach(function(pointheatmap) {
      var marker = new google.maps.Marker({
        position: { lat: pointheatmap.lat, lng: pointheatmap.lng },
        map: map,
        title: 'Hello World!'
      });
      markers.push(marker);
      });
      return markers;
      }
      function setMapOnAllMarkersNull(markers) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }
      function clearMarkerMap(markers) {
      console.log("intra clear");
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(null);
        }
      }
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBmyGvsxDlsHTSFQ8XbfplRO4z3KuxAOGg&libraries=visualization&callback=initMap')