extends dashboard-layout-users
block content
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
	script(src='http://davidshimjs.github.io/qrcodejs/qrcode.min.js')
	sceipt(src='http://requirejs.org/docs/release/2.1.8/minified/require.js')
	.row
		.col-lg-12
			h1.page-header QR code generator
	.row
		.col-lg-12
			.panel.panel-default
				.panel-heading Print QR

				.panel-body
					.row
						form(role='form' method='post')
							if (message && message.length > 0)
								div.alert(class='#{message_type}') #{message}
							.col-lg-6
								.form-group
									label Number of QR code:
									input.form-control(type='text' name='pices' placeholder='Number of QR code')
								button(type='submit') Submit
							// /.col-lg-6


	button.btn.btn-info#QR Genereaza!
	button.btn.btn-danger#printQR Printeaza!
	#QRCodeResult
	#qrcode(style="margin-top:20px")
	script.
		var qrcode = new QRCode("qrcode");
		var wasPrinted = false;
		$("#printQR").click(function(){
			if(!wasPrinted) {
				wasPrinted = true;
				printcontent($("#qrcode").html());
				console.log("was not printed")
			} else {
				alert("Acest cod a fost printat o data, genereaza altul!");
			}
		})

		$("#QR").click(function(){
		console.log('clicked');
		$.ajax({
		async: true,
		type: "POST",
		data: [],
		url: "/web-routes/generateQrCode", 
		success: function(result) {
		console.log("merge users result in ajax");
		console.log(result);
		if(result){
			console.log("qrcode.makeCode(result.QRCode)");
			$("#QRCodeResult").html(qrcode.makeCode(result.QRCode));
			wasPrinted = false;
		}
		},
		error: function(XMLHttpRequest, textStatus, errorThrown) { 
		alert("Status: " + textStatus); alert("Error: " + errorThrown); 
		}   
		});
		});
		function printcontent(content)
		{
		    var mywindow = window.open('', '', '');
		    mywindow.document.write('<html><title>Cod QR pentru aplicatia Friendly.</title><body>');
		    mywindow.document.write(content);
		    mywindow.document.write('</body></html>');
		    mywindow.document.close();
		    mywindow.print();
		    return true;
		}