html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Friendly | Dashboard
    // Tell the browser to be responsive to screen width
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // Bootstrap 3.3.6
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
    // Ionicons
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')
    // Theme style
    link(rel='stylesheet', href='/dist/css/AdminLTE.min.css')
    link(rel='stylesheet', href='/lib/css/jquery.dataTables.min.css')
    //
      AdminLTE Skins. Choose a skin from the css/skins
      folder instead of downloading all of them to reduce the load.
    link(rel='stylesheet', href='/dist/css/skins/_all-skins.min.css')
    // iCheck
    link(rel='stylesheet', href='/plugins/iCheck/flat/blue.css')
    // Morris chart
    link(rel='stylesheet', href='/plugins/morris/morris.css')
    // jvectormap
    link(rel='stylesheet', href='/plugins/jvectormap/jquery-jvectormap-1.2.2.css')
    // Date Picker
    link(rel='stylesheet', href='/plugins/datepicker/datepicker3.css')
    // Daterange picker
    link(rel='stylesheet', href='/plugins/daterangepicker/daterangepicker.css')
    // bootstrap wysihtml5 - text editor
    link(rel='stylesheet', href='/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css')
 block content
  .row
    .col-lg-12
      h1.page-header User
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading New user

        .panel-body
          .row
            form(role='form' method='post' action='/web-routes/addUser')
              if (message && message.length > 0)
                div.alert(class='#{message_type}') #{message}
              .col-lg-6
                .form-group
                  label First name
                  input.form-control(type='text' name='first_name' placeholder='Enter first name here')
                .form-group
                  label Last name
                  input.form-control(type='text' name='last_name' placeholder='Enter last name here')
                .form-group
                  label Email
                  input.form-control(type='text' name='email' placeholder='Enter email here')
                .form-group
                  label Password
                  input.form-control(type='password' name='password' placeholder='Enter password here')
                button(type='submit') Submit
              // /.col-lg-6
