// Navigation
nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='#' ) Parking Alert
    img(src="../../../img/rsz_3logo.png" )
  // /.navbar-header
  ul.nav.navbar-top-links.navbar-right
    li.dropdown
      a.dropdown-toggle(data-toggle='dropdown', href='#')
        span Anonymous
        i.fa.fa-user.fa-fw
        i.fa.fa-caret-down
      ul.dropdown-menu.dropdown-user
        li
          a(href='/admin-eparti-030616/user-profile')
            i.fa.fa-user.fa-fw
            |  User Profile
        li
          a(href='#')
            i.fa.fa-gear.fa-fw
            |  Settings
        li.divider
        li
          a(href='/admin-eparti-030616/logout/')
            i.fa.fa-sign-out.fa-fw
            |  Logout
script(src='https://cdn.jsdelivr.net/jquery/1/jquery.min.js')
script(src='https://cdn.jsdelivr.net/momentjs/latest/moment.min.js')
link(rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" )
script(src='https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js')
link(rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" )

p(style='margin-left:10px;')
 .col-md-12
   .col-md-12
     label.daterange-text Alege intervalul dorit:
   .col-md-3
     input.form-control#ajaxDate(type='text', name='daterange')
br
br
.row.map-chart-selector
  .col-md-4
  .col-md-2 
    i.fa.fa-map-marker.map-cosen.active Harta
  .col-md-2 
    i.fa.fa-bar-chart-o.chart-cosen Statistica
  .col-md-4
script.
  $( "input[name='daterange']" ).change(function() {
  // Check input( $( this ).val() ) for validity here
  console.log($( "input[name='daterange']" ).val());
  });
  $(function() {
  $('input[name="daterange"]').daterangepicker({
  timePicker: true,
  timePickerIncrement: 30,
  locale: {
  format: 'YYYY-MM-DD HH:mm:00'
  },
  ranges: {
  'Azi': [moment(), moment()],
  'Ieri': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
  'Ultimele 7 zile': [moment().subtract(6, 'days'), moment()],
  'Ultimele 30 de zile': [moment().subtract(29, 'days'), moment()],
  'Aceasta luna': [moment().startOf('month'), moment().endOf('month')],
  'Luna trecuta': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
  }
  });
  $(window).scroll(function() {
  if ($('input[name="daterange"]').length) {
  $('input[name="daterange"]').daterangepicker("close");
  }
  });
  });


script(src='/js/date-selector.js')