// Navigation
nav.navbar.navbar-default.navbar-static-top(role='navigation')
  .navbar-header
    .col-md-12
       .col-md-12
         .col-md-12
          label.daterange-text Alege intervalul dorit: // san francisco
         .col-md-12
          input.form-control#ajaxDate(type='text', name='daterange')
       .col-md-6
        .col-md-6
         i.fa.fa-map-marker.map-cosen.active Harta
        .col-md-6
         i.fa.fa-bar-chart-o.chart-cosen Statistica
  // /.navbar-header

script(src='https://cdn.jsdelivr.net/jquery/1/jquery.min.js')
script(src='https://cdn.jsdelivr.net/momentjs/latest/moment.min.js')
link(rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" )
script(src='https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js')
link(rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" )



script(src='/js/date-selector.js')